

@media (min-width: 375px) {

#header {
 
}

}
#header {
  
  color: var(--dark-desaturated-blue);

  width: 100%;

  display: grid;
  justify-content: center;
  align-items: center;

  text-align: center;


}

#text-container{
    display: grid;
    justify-items: center;
    line-height:1.5em;
}

#title {
  font-size: 25px;
  font-weight: var(--font-weight-800);
  margin:0;

}

#sub-title {
  color: var(--grayish-blue);
  font-size:var(--font-size-15);
  font-weight: var(--font-weight-600);
  width:55%;
  margin-top:0.25em;
}
