

@media (min-width: 375px) {

#header {
margin-top: 15%;
}

}
#header {
  
  
  color: var(--dark-desaturated-blue);

  width: 100%;

  display: grid;
  justify-content: center;
  align-items: center;

  text-align: center;


}

#text-container{
  background-image: url('./images/pattern-circles.svg'); /* <img alt="circles" src={circles}/>*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
    display: grid;
    justify-items: center;
    line-height:1.5em;
    height: 100px;
}

#title {
  font-size: 25px;
  font-weight: var(--font-weight-800);
  margin:0;

}

#sub-title {
  color: var(--grayish-blue);
  font-size:var(--font-size-15);
  font-weight: var(--font-weight-600);
  width:55%;
  margin-top:0.25em;
}
